@font-face {
	font-family: 'Conso';
	src: url("conso.woff") format("woff"), url("conso.ttf") format("truetype");
	font-style: normal;
	font-stretch: normal;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height:100%;
	font-size: 100%;
	background-color: #333333;
}

#timeline {
	width: 100%;
	height: 60%;
}

#addevent {
	width: 60%;
	margin: auto;
	font-family: Conso;
	font-size: 0.80rem;
}

p.addform {
	font: inherit;
	color: tomato;
}

textarea.addform {
	font: inherit;
	width: 100%;
	height: 100px;
	resize: none;
	line-height: 1.25rem;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 3px #dddddd;
	border-radius: 4px;
}

input.addform {
	font: inherit;
	line-height: normal;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 3px #dddddd;
	border-radius: 4px;
	vertical-align: middle;
	box-sizing: border-box;
}
