@font-face {
	font-family: 'Conso';
	src: url("conso.woff") format("woff"), url("conso.ttf") format("truetype");
	font-style: normal;
	font-stretch: normal;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height:100%;
	font-size: 100%;
}

#timeline {
	width: 100%;
	height: 95%;
}

#addevent {
	width: 80%;
	margin: auto;
	padding: 5px 0px;
}


.gridwrapper {
	display: grid;
	width: 90%;
	margin: auto;
	grid-template-columns: repeat(5, 16%);
	grid-column-gap: 5%;
	grid-row-gap: 4pt;
	grid-auto-rows: minmax(20px, auto);
	text-align: center;
}


.gridtitle {
	grid-column: 1 / 6;
	grid-row: 1;
}


.gridurl {
	grid-column: 1 / 6;
	grid-row: 2;
}


.gridinfo {
	grid-column: 1 / 6;
	grid-row: 3/4;
}


.griddatedeb1 {
	grid-column: 1;
	grid-row: 5;
	text-align: right;
}


.griddatedeb2 {
	grid-column: 2;
	grid-row: 5;
}


.griddatefin1 {
	grid-column: 3;
	grid-row: 5;
	text-align: right;
}


.griddatefin2 {
	grid-column: 4;
	grid-row: 5;
}


.gridgroup {
	grid-column: 5;
	grid-row: 5;
}


.gridimgcaptcha {
	grid-column: 1;
	grid-row: 6;
	text-align: right;
}


.gridresultcaptcha {
	grid-column: 2;
	grid-row: 6;
}


.gridrecord {
	grid-column: 3 / 6;
	grid-row: 6;
}


img.addform {
	background-color: #bdc3c7;
}

textarea.addform {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	color: #34495e;
	font: inherit;
	padding: 8px 4px;
	border-radius: 4px;
	box-shadow: none;
	vertical-align: middle;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}

input.addform {
	width: 100%;
	border: none;
	color: #34495e;
	font: inherit;
	padding: 8px 4px;
	border-radius: 4px;
	box-shadow: none;
	vertical-align: middle;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}

p.addform {
	color: #bdc3c7;
}

.add_event {
	padding: 5px 10px;
	border-radius: 2pt;
	background-color: #ce4843;
	cursor: pointer;
	float: right;
	font-family: Conso;
	font-size: 0.80rem;
}

.add_event_modal {
	display: none;
	position: fixed;
	z-index: 10;
	padding: 5%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(0,0,0,0.6);
}

.add_event_modal_content {
	background-color: #eae7dc;
	margin: auto;
	padding: 10px;
	width: 80%;
	border-radius: 5px;
	font-family: Conso;
	font-size: 0.80rem;
}
